@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
	scroll-behavior: smooth;
}

body {
	background: #030708;
	font-family: "Montserrat", sans-serif;
	color: #f2f2f2;
	height: 100vh;
	margin: 0;
}

#nav-bar {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

#header-img {
	object-fit: contain;
	height: 5rem;
}

.nav-link:not(:first-child) {
	font-size: 1.2rem;
	margin-top: 1.75rem;
	margin-right: min(7vw, 5rem);
	text-decoration: none;
	color: #f2f2f2;
	padding: 5px 10px;
	height: fit-content;
}

.logo {
	margin-right: auto;
	margin-top: 4px;
	margin-left: 5rem;
	overflow: visible;
}

.nav-link:hover {
	text-decoration: underline;
	cursor: pointer;
}

video {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.video-wrapper {
	position: relative;
	margin: auto;
	width: 100%;
	height: 80vh;
	overflow: hidden;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.video-header {
	position: relative;
}

.video-header h1 {
	font-size: 6em;
	margin: 0;
}

.video-header p {
	font-size: 2em;
	margin-bottom: 45px;
	margin-top: 20px;
}

.video-header a {
	font-size: em;
	background-color: #e35f21;
	color: #030708;
	padding: 7px 20px;
	text-decoration: none;
}

.video-header a:hover {
	transition: 0.3s ease;
	color: #f2f2f2;
}

h2 {
	text-align: center;
	font-size: 2.5rem;
	margin-top: 5rem;
}

.shop-items {
	display: flex;
	justify-content: center;
	gap: 2vw;
}

.shop-item {
	width: 450px;
	height: auto;
	margin-bottom: 1em;
}

#item-img {
	width: 100%;
	overflow: hidden;
	backface-visibility: hidden;
	transition: 0.5s ease;
}

.shop-item:hover #item-img {
	opacity: 0.6;
	cursor: pointer;
}

#about p {
	margin: 9em;
	margin-top: 0;
	text-align: center;
}

#contact {
	width: 100%;
	height: 6rem;
	background-color: #e35f21;
}
