@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	color: #f2f2f2;
	margin: 0px;
	padding: 0px;
}

#header {
	background-color: #030708;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
}

#nav-bar {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	overflow: auto;
}

#header-img {
	object-fit: contain;
	height: 5rem;
}

#main {
	background: #030708;
	padding: 0px;
	margin: 0px;
}

.nav-link:not(:first-child) {
	font-size: 1.2rem;
	margin-top: 1.75rem;
	margin-right: min(5vw, 5rem);
	text-decoration: none;
	color: #f2f2f2;
	padding: 5px 10px;
	height: fit-content;
}

.logo {
	margin-right: auto;
	margin-top: 4px;
	margin-left: 5rem;
	overflow: visible;
}

.nav-link:hover {
	text-decoration: underline;
	cursor: pointer;
}

video {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.video-wrapper {
	position: relative;
	margin: auto;
	width: 100%;
	height: 80vh;
	overflow: hidden;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.video-header {
	position: relative;
}

.video-header h1 {
	font-size: 6em;
	margin: 0;
}

.video-header p {
	font-size: 2em;
	margin-bottom: 45px;
	margin-top: 20px;
}

.video-header a {
	font-size: 1rem;
	background-color: #e35f21;
	color: #030708;
	padding: 7px 20px;
	text-decoration: none;
}

.video-header a:hover {
	transition: 0.3s ease;
	color: #f2f2f2;
}

h2 {
	text-align: center;
	font-size: 2.5rem;
	margin-top: 5rem;
}

.shop-items {
	display: flex;
	justify-content: center;
	gap: 2vw;
}

.shop-item {
	width: min(30vw, 600px);
	height: auto;
	margin-bottom: 1em;
}

#item-img {
	width: 100%;
	overflow: hidden;
	backface-visibility: hidden;
	transition: 0.5s ease;
}

.shop-item:hover #item-img {
	opacity: 0.6;
	cursor: pointer;
}

.grid-container {
	display: grid;
	grid-template-areas:
		"icon1 text1 "
		"icon2 text2"
		"icon3 text3 ";
	grid-template-columns: 100px min(70vw, 70rem);
	grid-template-rows: repeat(3, auto);
	justify-items: left;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 5em;
}

.grid-item-1 {
	grid-area: icon1;
}
.grid-item-2 {
	grid-area: text1;
}
.grid-item-3 {
	grid-area: icon2;
}
.grid-item-4 {
	grid-area: text2;
}
.grid-item-5 {
	grid-area: icon3;
}
.grid-item-6 {
	grid-area: text3;
}

.grid-item {
	margin: 1rem 3rem;
}

#about h3,
#about p {
	margin: 3px;
}

h3 {
	font-size: 1.5rem;
	font-weight: bolder;
}

#about i {
	font-size: 4rem;
	margin: 0;
	padding: 0;
}

#contact {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	background-color: #e35f21;
}

#socials {
	width: 100px;
	height: 25px;
}

#contact p {
	font-family: helvetica;
	color: black;
}

.flex-item {
	margin: 3rem;
}

input[type="email"] {
	display: inline-block;
	text-decoration: none;
	background-color: #e35f21;
	border: 2px solid black;
	padding: 1rem;
	width: 250px;
}

input::placeholder {
	color: black;
}

button {
	display: inline-block;
	text-decoration: none;
	background-color: black;
	border: solid black;
	color: #e35f21;
	font-size: 16px;
	padding: 0.8em 1.3em;
	overflow: visible;
}

button:hover {
	cursor: pointer;
	color: #f2f2f2;
}
